@tailwind base;
@tailwind components;
@tailwind utilities;

/* ALL CSS GOES HERE */
/* Make background of home page gray */
:root {
  background-color: #DCE3E8;
}

main {
  flex-direction: row;
}

nav {
  background-color: #2A3F4D;
  height: 3.5vw;
  color: #fff;
  font: 30px goldman-sans;
  flex-direction: row;
  justify-content: left;
}

ul {
  font: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


